<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-signup" method="POST" >
        {% csrf_token %}
        <label for="username">email</label>
        <input type="email" name="email" class="form-styling">
        <label for="password">пароль</label>
        <input type="password" name="password1" class="form-styling hide_password">
        <div class="help_text" >
          <ul>
            <li>Пароль должен быть не меньше 8 символов</li>
            <li>Пароль должен содержать хотя бы одну цифру</li>
          </ul>
        </div>
        <label for="password">Повторите пароль</label>
        <input type="password" name="password2" class="form-styling">

               <input class="btn-signin" type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" >
      </form>
    
</body>
</html>